<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <!-- use for sorting and addin side bar use var for query [] for date,mark ,recent -->
      <div></div>
    </header>
    <main>
      <nav class="nav-side">
        <!-- side nav for sort -->
        <form action="/sort" method="post">
          <div>
            <label for="mark">Rating</label
            ><input type="radio" name="sort" form value="list.id" id="" />
          </div>
          <div>
            <label for="date">Date</label
            ><input type="radio" name="sort" value="mark" id="" />
          </div>
        </form>
      </nav>
      <div class="content">
        <!-- book list for display -->
        <% books.forEach(book => { %>
        <hr />

        <h4 id="<%=book.id%>"><%= book.title %></h4>
        <br />

        <p>Rating <b><%= book.mark %></b></p>
        <br />
        <p><%= book.comment %></p>

        <form method="patch" action="/update">
          <!-- book list save to edit on click  -->
          <!-- saved id to interreact with database  -->
          <input
            type="hidden"
            id="<% book.id %>edit"
            name="updatedid"
            value="<%=book.id %>"
          />
          <label hidden id="<%=book.id%>edit" for="title">Title</label>
          <input
            type="hidden"
            id="<% book.id %>edit"
            name="updateTitle"
            value="<%=book.title %>"
          />
          <label for="mark" hidden id="<%= book.id %>edit">Rating</label>
          <input
            type="hidden"
            name="updateRating"
            value="<%=book.mark%>"
            id="<% book.id %>edit"
          />
          <label for="comment" hidden id="<%= book.id %>edit">Comment</label>
          <input
            type="hidden"
            name="updateComment"
            value="<%=book.comment%>"
            id="<% book.id %>edit"
          />
        </form>

        <%}); %>
      </div>
    </main>
    <form action="/" method="post">
      <button class="add-btn">+</button>
    </form>

    <script src="./main.js"></script>
  </body>
</html>
